.pinguino {
    --pinguino-barriga:;
    --pinguino-pico: orange;
    position: relative;
    margin: auto;
    top: -1550px;
    display: inline-block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }
  
  .pinguino-superior {
  top: -35%;
  left: 25%;
  background: yellow;
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
  }
  
  .pinguino-inferior {
  top: -10%;
  left: 23.5%;
  background: yellow;
  width: 53%;
  height: 45%;
  border-radius: 70% 70% 100% 100%;
  }
  
  .mano-derecha {
  top: 0%;
  left: -5%;
  background: yellow;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(45deg);
  z-index: -1;
  }
  
  .mano-izquierda {
  top: 0%;
  left: 75%;
  background: yellow;
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-45deg);
  z-index: -1;
  }
  
  .mejilla-derecha {
  top: 15%;
  left: 150%;
  background: var(--pinguino-barriga, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
  }
  
  .mejilla-izquierda {
  top: 150%;
  left: 150%;
  background: var(--pinguino-barriga, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
  }
  
  .barriga {
  top: 60%;
  left: 250%;
  background: var(--pinguino-barriga, white);
  width: 95%;
  height: 100%;
  border-radius: 120% 120% 100% 100%;
  }
  
  .pie-derecho {
  top: 85%;
  left: 60%;
  background: var(--pinguino-pico, );
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-80deg);
  z-index: -2222;
  }
  
  .pie-izquierdo {
  top: 85%;
  left: 25%;
  background: var(--pinguino-pico, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(80deg);
  z-index: -2222;
  }
  
  .ojo-derecho {
  top: 45%;
  left: 60%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
  }
  
  .ojo-izquierdo {
  top: 45%;
  left: 25%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
  }
  
  .reflejo-ojos {
  top: 25%;
  left: 15%;
  background: white;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  }
  
  .color-mejilla-derecha {
  top: 65%;
  left: 600%;
  background: ;
  width: 405%;
  height: 400%;
 
  border-radius: 500%;
  }
  
  .color-mejilla-izquierda {
  top: -80%;
  left: 500%;
  background: ;
  width: 400%;
  height: 400%;
  ;
  border-radius: 50%;
  }
  
  .pico-superior {
  top: 80%;
  left: 40%;
  background: var(--pinguino-p, orange);
  width: 0%;
  height: 400%;
  border-radius: 100%;
  }
  
  .pico-inferior {
  top: 95%;
  left: 42%;
  background: var(--pinguino-pico, o);
  width: 161%;
  height: 50%;
  border-radius: 50%;
  }
  
  body {
  background:;
  }
  
  .pinguino * {
  position: absolute;
  }